<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="./styles/blog.css">
    <link rel="stylesheet" href="../styles/blog.css">
    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400;1,500&family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
    <div class="header-head">
        <img class="logo" src="../photos/logo.svg" alt="">
        <nav class="navbar">
            <a href="../" id="home" class="navbar-content">TRANG CHỦ</a>
            <a href="../do-go-my-nghe" class="navbar-content">ĐỒ GỖ MỸ NGHỆ</a>
            <a href="../noi-that" class="navbar-content">NỘI NGOẠI THẤT</a>
            <a href="../san-vuon" class="navbar-content">SÂN VƯỜN</a>
        </nav>
    </div>
    <div class="drop-bar">
      <img class="drop" src="../photos/menu-rat-diute.svg">
      <div class="drop-content">
          <div class="dropbar-content"><a href="../">TRANG CHỦ</a></div>
          <div class="dropbar-content"><a href="../do-go-my-nghe">ĐỒ GỖ MỸ NGHỆ</a></div>
          <div class="dropbar-content"><a href="../noi-that">THIẾT KẾ NỘI THẤT</a></div>
          <div class="dropbar-content"><a href="../san-vuon">TRANH ĐÁ-SÂN VƯỜN</a></div>
          <div class="dropbar-content"><button>Liên hệ</button></div>
      </div>
      <script>
          const button= document.querySelector(".drop");
          const navContent = document.querySelector(".drop-content");
          const dropBar = document.querySelector(".drop-bar");
          button.addEventListener("click", function(){
              if (navContent.id === "show") {
                  navContent.id="hide";
                  dropBar.id="no-color";
              } else {
                  navContent.id= "show";
                  dropBar.id="grey";
              }  
          });
      </script>
      </div>
    <div class="header-bottom">
        <h2 id="title">Mỹ Nghệ H-A</h2>
        <h1 id="description">CHUYÊN ĐỒ GỖ MỸ NGHỆ - THIẾT KẾ NỘI THẤT - TRANH ĐÁ SÂN VƯỜN</h1>
        <button id="btn">LIÊN HỆ</button>
    </div>
    </div>
      
      <div class="row">
        <div class="leftcolumn content">
            <% dulieu.forEach((item)=> { %>
            <div class="card">
                    <img class="img" style="height:200px" src= <%= item.imgLink %> alt= <%= item.alt %> >
                <div clas="content">
                    <h2> <%= item.article %> </h2>
                    <h5> <%= item.date %> </h5>
                    <p> <%= item.subContent %> </p>
                    <form action="/blog/<%= item.param %>" method="POST">
                        <input type="submit" value="Xem thêm">
                    </form>
                </div>
            </div>
            <% }) %>
          
        </div>
        <div class="rightcolumn">
          <div class="card">
            <h2>VỀ CHÚNG TÔI</h2>
            <div class="side-img" >
              <img class="icon" src="../photos/IMG_7065.jpg" alt="">
            </div>
            <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
          </div>
          <div class="card">
            <h3>Post mới nhất</h3>
            <div class="side-img">
              <img class="icon" src="<%= dulieu[dulieu.length-1].imgLink %>" alt="<%= dulieu[dulieu.length-1].alt %>">
              <h4> <a href="/blog/<%= dulieu[dulieu.length-1].param %>"> <%= dulieu[dulieu.length-1].article %></a></h4>
              <p><%= dulieu[dulieu.length-1].subContent %></p>
            </div><br>
            <div class="side-img">
              <img class="icon" src="<%= dulieu[dulieu.length-2].imgLink %>" alt="<%= dulieu[dulieu.length-2].alt %>">
              <h4> <a href="/blog/<%= dulieu[dulieu.length-2].param %>"> <%= dulieu[dulieu.length-2].article %></a></h4>
              <p><%= dulieu[dulieu.length-2].subContent %></p>
            </div><br>
            <div class="side-img">
              <img class="icon" src="<%= dulieu[dulieu.length-3].imgLink %>" alt="<%= dulieu[dulieu.length-3].alt %>">
              <h4> <a href="/blog/<%= dulieu[dulieu.length-3].param %>"> <%= dulieu[dulieu.length-3].article %></a></h4>
              <p><%= dulieu[dulieu.length-3].subContent %></p>
            </div>
          </div>
          <div class="card">
            <h3>Liên hệ chúng tôi</h3>
            <p>Some text..</p>
          </div>
        </div>
      </div>
      
      <div class="footer">
        <h5> @ Mỹ nghệ H-A</h5>
        <p>Designed by &copy; TiTi</p>
      </div>




    
</body>
</html>
